*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

contexts/context.json

# Ignore vscode workspace files (assumes files end in "workspace")
*workspace

# Ignore the .env file
.env